

#testimonials{
    background-image: url(/images/testiomnials-background.jpg);
    background-position: center;
    background-size: cover;
    
    padding-top: 2rem;
    padding-bottom: 2rem;

    
}

#testimonials h1,#testimonials h3,#testimonials p{
    color: white;
}


#testimonials> h1{
    font-size: 2.25rem;
    text-align: center;
    /* margin-bottom: 5rem; */
}









 .swiper {
    max-width: 70%;
    /* border: 2px solid; */
    padding: 6rem 0;
  }

  .swiper:active{
    cursor: grab;
  }

  .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }


  .swiper-slide img{
    border-radius: 50%;
  }


  .swiper-slide p{
    background-color: #6A4D8A;
    text-align: center;
    padding: 1rem ;
  }


.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: white;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: transparent;
    border: 1px solid white;
    transition: .3s all;
    width: 12px;
    height: 12px;

}

.swiper-pagination-bullet.swiper-pagination-bullet-dynamic {
    width: 18px;
    height: 18px;
}



@media screen and (max-width: 768px){
    .swiper {
        max-width: 90%;
        padding: 6rem 0;
      }
}